apiVersion: apps/v1
kind: Deployment
metadata:
  name: cad-interceptor-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cad-interceptor
  template:
    metadata:
      labels:
        app: cad-interceptor
    spec:
      containers:
      - name: cad-interceptor
        image: ${REGISTRY_IMG}:${IMAGE_TAG}
        command: ["/bin/bash", "-c"]
        args: ["interceptor"]
        ports:
        - containerPort: 8080
        envFrom:
        - secretRef:
            name: cad-pd-token
        resources:
          limits:
            cpu: "100m"
            memory: "500Mi"
          requests:
            cpu: "10m"
            memory: "100Mi"
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 3
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          runAsGroup: 65532
          runAsNonRoot: true
          runAsUser: 65532
          seccompProfile:
            type: RuntimeDefault
      restartPolicy: Always
      serviceAccountName: pipeline
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: cad-interceptor-service
spec:
  selector:
    app: cad-interceptor
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
  type: ClusterIP
---
apiVersion: triggers.tekton.dev/v1alpha1
kind: Interceptor
metadata:
  name: cad-interceptor
spec:
  clientConfig:
    service:
      name: cad-interceptor-service
      namespace: ${NAMESPACE_NAME}
      port: 8080
