# This pipeline definition will be used for automate checks as part of pagerduty webhooks.
# It expects to receive a payload that contains information about the incident/event that triggered the webhook.
# For more information about the type of the EVENT input parameter have a look a the pagerduty documentation:
# https://developer.pagerduty.com/docs/ZG9jOjExMDI5NTkw-v3-overview#webhook-payload

# The Pipeline will use a pvc for pesistent storage of logs and outputs inbetween PipelineRuns.
# The logs will be accessible over a simple dashboards
# Each step of the Pipeline will store in the following file structure:
#   /logs/<clusterID>/<eventID>-<pipelineID>/<task>

#  The CAD pipeline will perform the following steps:
#
#                         -- (perform-cad-update-pd) ----
#                       /                                 \
#  (perform-cad-checks)                                     (TODO: set-termination-criterium) --- (TODO: cleanup)
#                       \                                 /
#                        -- (perform-cad-send-servicelog)

apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: cad-checks-pipeline
spec:
  params:
    - name: payload
      type: string
      description: Json string of the event data
  tasks:
    # ------ Step 1: check for Infrastructure problems
    - name: perform-cad-checks
      params:
        - name: payload
          value: $(params.payload)
        - name: pipeline-name
          value: $(context.pipelineRun.name)
      taskRef:
        name: cad-checks
