---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cad-sa
  namespace: configuration-anomaly-detection
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cad-eventlistener-role
  namespace: configuration-anomaly-detection
rules:
  - apiGroups:
      - "*"
    resources:
      - configmaps
      - secrets
      - serviceaccounts
    verbs:
      - list
      - watch
      - get
  - apiGroups:
      - triggers.tekton.dev
    resources:
      - "*"
    verbs:
      - "*"
  - apiGroups:
      - tekton.dev
    resources:
      - "*"
    verbs:
      - "*"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: cad-eventlistener-clusterrole
rules:
  - apiGroups:
      - triggers.tekton.dev
    resources:
      - clusterinterceptors
    verbs:
      - list
---
# tekton/clusterrolebinding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cad-eventlistener-rolebinding
  namespace: configuration-anomaly-detection
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: cad-eventlistener-role
  namespace: cluster-anomaly-detection
subjects:
  - kind: ServiceAccount
    name: cad-sa
    namespace: cluster-anomaly-detection
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cad-eventlistener-clusterrolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cad-eventlistener-clusterrole
subjects:
  - kind: ServiceAccount
    name: cad-sa
    namespace: cluster-anomaly-detection
